@import url('fonts.css');

:root {
	--balck: #000;
	--white: #fff;
	--blue: rgba(159, 175, 172, 0.75);
	--red: #8b0000;
}

body {
	margin: 0;
	background: var(--blue);
	font-family: 'Montserrat', sans-serif;
}

main {
	background: var(--white);
}
