@import url('fonts.css');

:root {
	--black: #000;
	--white: #fff;
	--blue: #B7C3C0;
	--red: #8b0000;
}

body {
	margin: 0;
	background: var(--blue);
	font-family: 'Montserrat', sans-serif;
}

main {
	background: var(--white);
}
