@import url('fonts.css');

:root {
	--black: #000;
	--white: #fff;
	--gray: #43444c;
	--med-gray: #727379;
	--blue: #b7c3c0;
	--red: #8b0000;
}

a:hover {
	cursor: pointer;
}

body {
	margin: 0;
	background: var(--white);
	font-family: 'Montserrat', sans-serif;

	main, footer {
		transition: opacity 0.5s;
		opacity: 1;
	}

	&.loading {

		main, footer {
			opacity: 0;
		}
	}
}

main {
	background: var(--white);
	min-height: calc(100vh - 450px);

	h1 {
		font-family: 'Corinthia', cursive;
		font-size: 60px;
		font-weight: normal;
		color: var(--blue);
		text-align: center;
	}

	.group {
		border: 1px solid var(--blue);
		border-radius: 10px;

		h2 {
			font-family: 'Noto Serif', serif;
			font-weight: normal;
			margin: 0;
			padding: 20px;
			text-align: center;
			color: white;
			background: var(--blue);
		}
	}

	@media(max-width: 500px) {
		h1 {
			font-size: 40px;
			margin: 0;
		}
	}
}

