@import url("common.css");

nav {
    .custom {
        text-decoration: underline;
    }
}

main {
    text-align: center;
    padding: 25px;

	p {
		text-align: left;
		width: 400px;
		margin: 0;
	}

	a {
		text-decoration: none;
		width: fit-content;
	}

	h4 {
		font-family: 'Noto Serif', serif;
		color: var(--white);
		background: var(--blue);
		border-radius: 5px;
		box-shadow: 5px 5px 5px lightgrey;
		padding: 15px 20px;
		margin: 0;
		display: none;
	}

	h4:hover {
			cursor: pointer;
			opacity: 0.9;
	}

	.options {
		display: flex;
		flex-direction: row;
		justify-content: center;
		grid-gap: 50px;

		.col {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			grid-gap: 80px;

			h4 {
				display: block;
			}

			.nails-pic {
				background: center / 150% url('../img/nails.webp');
				border-radius: 10px;
				border-right: 5px solid var(--blue);
				border-bottom: 5px solid var(--blue);
				width: 250px;
				height: 450px;
			}
		}
	}

	@media(max-width: 800px) {
		.options {
			flex-direction: column-reverse;
			align-items: center;
			padding: 25px 0;

			p {
				width: 100%;
				text-align: center;
			}

			h4 {
				display: block;
			}

			.col {
				grid-gap: 0;

				h4 {
					display: none;
				}

				.nails-pic {
					width: 300px;
					max-width: calc(100vw - 50px);
					height: 200px;
					background-size: 100%;
				}
			}
		}
	}
}
