@import url("common.css");

footer {
	min-height: 270px;
	color: var(--white);
	text-align: right;
	padding: 25px;
	font-family: 'Noto Serif', serif;
	max-width: 1500px;
	margin: auto;

	span {
		display: inline-block;
		width: 225px;
		vertical-align: top;
		text-align: left;
		margin: 0 20px;

		h3 {
			margin: 0;
		}

		p {
			margin: 0;
		}

		a {
			color: var(--white);
		}
	}

	@media(max-width: 900px) {
		text-align: center;

		span {
			margin: 10px;
		}
	}
}
