@import url("common.css");

nav {
	.home {
		text-decoration: underline;
	}
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--white);
	height: calc(100vh - 310px);
	min-height: 300px;

	img {
		max-height: 230px;
		max-width: calc(100vw - 80px);
	}
}
