body {
	padding-top: 138px;

	@media(max-width: 900px) {
		padding-top: 88px;
	}
}

nav {
	height: 50px;
	width: calc(100vw - 50px);
	padding: 25px;
	margin: auto;
	background: var(--white);
	position: fixed;
	top: 35px;
	font-family: 'Noto Serif', serif;
	border-bottom: 3px solid var(--blue);
	z-index: 1;

	a {
		text-decoration: none;
		color: var(--blue);
		margin: 0 20px;
	}

	img {
		height: 50px;
	}

	#menu-button {
		display: none;
	}

	.socials {
		position: fixed;
		top: 45px;
		right: 10px;

		img {
			height: 20px;
		}

		a {
			margin: 0 5px;
		}
	}

	@media(min-width: 1570px) {
		padding-left: calc(50vw - 775px);
		width: calc(100vw - 25px - (50vw - 775px));

		.socials {
			right: calc(50vw - 775px);
		}
	}

	@media(max-width: 900px) {
		width: 100vw;
		padding: 0;
		overflow: hidden;
		transition: 0.5s;

		&.expand {
			height: 572px;
		}

		.logo {
			margin: 0;
			height: fit-content;

			img {
				height: 30px;
				padding: 10px;
			}
		}

		.links {
			margin: 0;
			text-align: center;
			width: 100%;
			max-height: calc(100vh - 88px);
			overflow: scroll;
			display: block;

			a {
				margin: 0;
				display: block;
				padding: 20px;
			}
		}

		.socials {
			text-align: center;
			display: block;
			position: static;
			padding: 10px;

			a {
				margin: 0 20px;
			}
		}

		#menu-button {
			display: inline-block;
			padding: 15px 10px;
			margin-left: calc(100vw - 87px);
			height: 20px;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

#announcement {
	position: fixed;
	top: 0;
	font-family: 'Noto Serif', serif;
	color: var(--white);
	background: var(--gray);
	text-align: center;
	line-height: 35px;
	white-space: nowrap;
	width: 100%;
	z-index: 1;

	a {
		color: white;
		margin: 0;
		text-decoration: underline;
	}
}

