@import url("common.css");

nav {
	.advice {
		text-decoration: underline;
	}
}

main{
	text-align: center;
	padding: 25px 25px 0 25px;

	.info {
		max-width: 700px;
		margin: auto;

		h2 {
			font-family: 'Noto Serif', serif;
			font-weight: normal;
			text-decoration: underline;
			margin: 30px 0;
		}

		p {
			text-align: left;
			width: fit-content;
			margin: 15px auto;
		}

		a {
			color: black;
		}
	}

	.group {
		margin: 50px auto;
		max-width: 700px;

		h2 {
			display: flex;
			justify-content: space-between;
			grid-gap: 20px;
		}

		.content {
			text-align: left;
			padding: 20px;

			ul {
				padding: 0;
				list-style-type: none;
				list-style-position: inside;
			}

			li {
				padding: 5px 0;
				margin-left: 30px;

				&::before {
					content: '•';
					padding-right: 10px;
					margin-left: -15px;
				}
			}
		}
	}

	@media (max-width: 500px) {
		.info {
			h2 {
				font-size: 18px;
			}

			p {
				text-align: center;
			}
		}
	}
}
